@font-face {
  font-family: 'hurmit'; // You can name this whatever you like
  src: url('/assets/fonts/HurmitNerdFont-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  max-width: 90%;
}
body {
  font-family: 'hurmit', Roboto, "Helvetica Neue", sans-serif;
}
